<h1>Datos del Personaje</h1>
{% for key,value in character.items %}
  {% if key == "starships" %}
    <p> <b>{{key}} : </b>
    {% for k in character.starships %}
      <a href= "../starships/{{k.id}}" >{{k.name}}</a>
    {% endfor %}
    </p>
  {% elif key == "films" %}
    <p> <b>{{key}} :</b>
    {% for k in character.films %}
      <a href= "../movies/{{k.id}}" >{{k.title}}</a>
    {% endfor %}
    </p>
  {% elif key == "homeworld" %}
    <p><b> {{key}} :</b>
    <a href= "../planets/{{value.id}}" >{{value.name}}</a>
    </p>
  {% elif key == "species" %}
    <p> <b>{{key}} :</b>
    {{value.name}}
    </p>
  {% elif key == "vehicles" %}
    <p> <b>{{key}} :</b>
    {% for k in character.vehicles %}
      {{k.name}}
    {% endfor %}
    </p>
  {% else %}
    <p><b>{{key}} :</b> {{value}}</p>
  {% endif%}
{% endfor %}

<h1>Para volver a la Pagina Principal</h1>
<form action="../">
   <button type="submit">INICIO</button>
</form>

<h1>Buscador</h1>
<form id="searchform" action="../result/" method="get">
    <input type="text" name="q" type="text"/>
    <button type="button" onclick="searchform.submit()">BUSCAR</button>
</form>
