<h1> {{movie.title}}</h1>
{% for key,value in movie.items %}
  {% if key == "characters" %}
    <p><b> {{key}}</b>
    {% for k in movie.characters %}
      <a href= "../characters/{{k.id}}" >{{k.name}}</a>
    {% endfor %}
    </p>
  {% elif key == "planets" %}
    <p> <b>{{key}}</b>
    {% for k in movie.planets %}
      <a href= "../planets/{{k.id}}" >{{k.name}}</a>
    {% endfor %}
    </p>
  {% elif key == "starships" %}
    <p><b> {{key}}</b>
    {% for k in movie.starships %}
      <a href= "../starships/{{k.id}}" >{{k.name}}</a>
    {% endfor %}
    </p>
  {% elif key == "title" %}
    <p></p>
  {% else %}
    <p><b>{{key}}:</b>{{value}} </p>
  {% endif %}
{% endfor %}

<h1>Para volver a la Pagina Principal</h1>
<form action="../">
   <button type="submit">INICIO</button>
</form>
<h1>Buscador</h1>
<form id="searchform" action="../result/" method="get">
    <input type="text" name="q" type="text"/>
    <button type="button" onclick="searchform.submit()">BUSCAR</button>
</form>
